In [18]:
import pandas as pd

df = pd.read_csv('../../cs3-04/wholesale_customers-with-errors.csv',skiprows=13)

In [19]:
# 重複したデータを表示し、重複を削除する
display(df[df.duplicated(keep=False)])
df= df.drop_duplicates().reset_index(drop=True)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
310,1,Oporto,7034,1492.0,2405,12569.0,299,1117
311,1,Oporto,7034,1492.0,2405,12569.0,299,1117
312,1,Oporto,7034,1492.0,2405,12569.0,299,1117

In [20]:
# Region列の表記ゆれを解消し、lisbon, oporto, otherに統一する
df['Region'] = df['Region'].replace({"Lisbon":"lisbon", "Oporto":"oporto", "Other":"other"})

In [21]:
# 欠損のあるデータを表示し、欠損値を各列の平均値で埋める
display(df[df.isnull().any(axis=1)])
df = df.fillna(df.mean(numeric_only=True))

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,other,12669,NaN,7561,214.0,2674,1338
3,1,other,13265,NaN,4221,NaN,507,1788

In [22]:
#  dfの内容を"wholesale_customers.csv_fill_average.csv"に保存する
df.to_csv("wholesale_customers.csv_fill_average.csv", index=False)