In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = "wholesale_customers-tab.csv"
df1 = pd.read_csv(data,sep="\t",skiprows=2)

In [5]:
print(df1.shape) 
print(df1.info()) 
display(df1.head())

(440, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    object
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: int64(7), object(1)
memory usage: 27.6+ KB
None

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,9656,7561,214,2674,1338
1,2,Other,7057,9810,9568,1762,3293,1776
2,2,Other,6353,8808,7684,2405,3516,7844
3,1,Other,13265,1196,4221,6404,507,1788
4,2,Other,22615,5410,7198,3915,1777,5185

In [9]:
df1["Region"].value_counts()

Region
Other     316
Lisbon     77
Oporto     47
Name: count, dtype: int64

In [17]:
df1["Fresh"].mean().round(2)

12000.3

In [15]:
df1["Frozen"].max()

60869

In [18]:
df1["Grocery"].median()

4755.5