### 1列・1行の取り出しと複数列・複数行の取り出し

In [1]:
import numpy as np
import pandas as pd

In [2]:
file = "data/temp_tokyo.csv"

df = pd.read_csv(file, sep=',', skiprows=0, header=0)
display(df.head())

   Year  Jan  Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov  Dec
0  2000  7.6  6.0   9.4  14.5  19.8  22.5  27.7  28.3  25.6  18.8  13.3  8.8
1  2001  4.9  6.6   9.8  15.7  19.5  23.1  28.5  26.4  23.2  18.7  13.1  8.4
2  2002  7.4  7.9  12.2  16.1  18.4  21.6  28.0  28.0  23.1  19.0  11.6  7.2
3  2003  5.5  6.4   8.7  15.1  18.8  23.2  22.8  26.0  24.2  17.8  14.4  9.2
4  2004  6.3  8.5   9.8  16.4  19.6  23.7  28.5  27.2  25.1  17.5  15.6  9.9

In [3]:
a = df.loc[1:5, 'Year']
print(a.shape)
print(type(a))
print(a)

(5,)
<class 'pandas.core.series.Series'>
1    2001
2    2002
3    2003
4    2004
5    2005
Name: Year, dtype: int64

In [4]:
b = df.loc[1:5, 'Year':'Year']
print(b.shape)
print(type(b))
display(b)

(5, 1)
<class 'pandas.core.frame.DataFrame'>

   Year
1  2001
2  2002
3  2003
4  2004
5  2005

In [5]:
c = df.loc[1, 'Jan':'Mar']
print(c.shape)
print(type(c))
print(c)

(3,)
<class 'pandas.core.series.Series'>
Jan    4.9
Feb    6.6
Mar    9.8
Name: 1, dtype: float64

In [6]:
d = df.loc[1:1, 'Jan':'Mar']
print(d.shape)
print(type(d))
display(d)

(1, 3)
<class 'pandas.core.frame.DataFrame'>

   Jan  Feb  Mar
1  4.9  6.6  9.8