In [32]:
import os
os.environ['OMP_NUM_THREADS'] = '1'

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [33]:
list_a = [ [ 1,2,'A'], [ 4,5,'B'], [ 9,2,'A'], [ 3,8,'B'], [ 4,6,'C'], [ 5,1,'B'], [ 9,5,'C'] ]
df = pd.DataFrame(list_a)

display(df)

   0  1  2
0  1  2  A
1  4  5  B
2  9  2  A
3  3  8  B
4  4  6  C
5  5  1  B
6  9  5  C

In [34]:
df.columns = ['N1', 'N2', 'Cat']
df.index = ['r0', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6']
display(df)

    N1  N2 Cat
r0   1   2   A
r1   4   5   B
r2   9   2   A
r3   3   8   B
r4   4   6   C
r5   5   1   B
r6   9   5   C

In [35]:
print(df.shape)
print(df.info())
display(df.head())

(7, 3)
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, r0 to r6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N1      7 non-null      int64
 1   N2      7 non-null      int64
 2   Cat     7 non-null      object
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

    N1  N2 Cat
r0   1   2   A
r1   4   5   B
r2   9   2   A
r3   3   8   B
r4   4   6   C

In [36]:
ser_n1 = df["N1"]
print(ser_n1.median())

4.0

In [37]:
display(df.sort_values(by="N1").head())

    N1  N2 Cat
r0   1   2   A
r3   3   8   B
r1   4   5   B
r4   4   6   C
r5   5   1   B

In [38]:
print(df["Cat"].value_counts())

Cat
B    3
A    2
C    2
Name: count, dtype: int64

In [39]:
n_tot = df["N1"]*df["N2"]
df2 = n_tot.sort_values(ascending=False)
display(df2.index)

Index(['r6', 'r3', 'r4', 'r1', 'r2', 'r5', 'r0'], dtype='object')