In [1]:
import pandas as pd

In [4]:
data = "wholesale_customers-with-errors.csv"
df = pd.read_csv(data, sep=",",skiprows=13)
df.head()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,NaN,7561,214.0,2674,1338
1,2,other,7057,9810.0,9568,1762.0,3293,1776
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
4,1,Other,13265,NaN,4221,NaN,507,1788

In [7]:
df_ret2 = df[df["Region"] == "Lisbon"]
df_ret2["Grocery"].head()

196     4897
198     6824
200    23127
201    24708
202     9490
Name: Grocery, dtype: int64