In [1]:
import pandas as pd

In [5]:
data = { "A":[20,15], "B":[40,25],"C":[60,35], "D":[80,45]}
df = pd.DataFrame(data)
df

    A   B   C   D
0  20  40  60  80
1  15  25  35  45

In [ ]:
df.mean(axis=1)

0    50.0
1    30.0
dtype: float64