In [1]:
import pandas as pd
import numpy as np

In [4]:
data = "cs3-04-quiz.csv"
df = pd.read_csv(data)
df.head()

  group  score2
0     A       5
1     A      26
2     A      62
3     A      59
4     A      19

In [5]:
df.describe()

          score2
count   36.00000
mean    43.75000
std     29.17472
min      0.00000
25%     19.75000
50%     41.00000
75%     65.75000
max    100.00000