In [2]:
import pandas as pd

In [3]:
data1 = {'Name': ['Tom', 'Joseph', 'Bob'], 'Age': [20, 21, 19],"Age_in_days":[7300,7665,6935]}

df = pd.DataFrame(data1)
df

     Name  Age  Age_in_days
0     Tom   20         7300
1  Joseph   21         7665
2     Bob   19         6935

In [4]:
df["Age"].sum() ##合計

60

In [12]:
df.sum(axis=0) ##列方向の合計
## axis=0はデフォルトなので省略可能
## df.sum(axis=1) ## 行方向の合計(今回はName列が数字でないのでできない)

Name           TomJosephBob
Age                      60
Age_in_days           21900
dtype: object

In [6]:
df["Age"].mean() ##平均

20.0

In [7]:
df["Age"].var() ##分散

1.0

In [8]:
df["Age"].std() ##標準偏差

1.0

In [9]:
df.describe() ##統計情報一覧

        Age  Age_in_days
count   3.0          3.0
mean   20.0       7300.0
std     1.0        365.0
min    19.0       6935.0
25%    19.5       7117.5
50%    20.0       7300.0
75%    20.5       7482.5
max    21.0       7665.0