In [2]:
import pandas as pd

In [3]:
data = [[1,3,5],[5,7,9]]

df1 = pd.DataFrame(data, columns=["a1", "a2", "a3"],index=["r1", "r2"])
df1

    a1  a2  a3
r1   1   3   5
r2   5   7   9

In [4]:
print(df1.to_numpy())

[[1 3 5]
 [5 7 9]]

In [5]:
df1.shape

(2, 3)