In [1]:
import pandas as pd

In [6]:
data = [[1,2,3],[4,5,6]]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6

In [9]:
df["A"]

0    1
1    4
Name: A, dtype: int64

In [14]:
df.loc[1]

A    4
B    5
C    6
Name: 1, dtype: int64

In [12]:
df.at[0,"B"]

2