In [33]:
import pandas as pd

In [34]:
data = "data/kanto_populations.csv"
df = pd.read_csv(data,sep=",",skiprows=5)

In [35]:
df['birth'].dtype

dtype('int64')

In [36]:
Tokyo_birth = df.at[5, 'birth']
Tokyo_pop = df.at[5, 'pop']
Tokyo_birth_rate = Tokyo_birth / Tokyo_pop * 1000
Tokyo_birth_rate.round(2)

7.11

In [37]:
df['birth_rate'] = ((df['birth'] / df['pop']) * 1000).round(2)
df.drop(columns=['birth'], inplace=True)
df

       pref       pop   death  birth_rate
0   Ibaraki   2852000   32931        6.10
1   Tochigi   1921000   21702        6.15
2     Gunma   1927000   23286        6.05
3   Saitama   7340000   70758        6.45
4     Chiba   6275000   62118        6.40
5     Tokyo  14010000  121219        7.11
6  Kanagawa   9236000   84601        6.59