In [1]:
import pandas as pd

In [5]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
df.columns = ['X', 'Y', 'Z']
df.index = ['r0', 'r1', 'r2']
df

    X  Y  Z
r0  1  2  3
r1  4  5  6
r2  7  8  9

In [9]:
print(df.shape)

(3, 3)