In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'a': [160, 172, 181],'b': [53, 74, 90]}
df = pd.DataFrame(data)
df

     a   b
0  160  53
1  172  74
2  181  90

In [4]:
df.index = ['Sato', 'Suzuki', 'Yamada']
df.columns = ['height', 'weight']
df

        height  weight
Sato       160      53
Suzuki     172      74
Yamada     181      90

In [6]:
print(df.values)

[[160  53]
 [172  74]
 [181  90]]