In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [[2021, 40],[2022, 32],[2023, 20],[2024, 18]]
df1 = pd.DataFrame(data)
df1

      0   1
0  2021  40
1  2022  32
2  2023  20
3  2024  18

In [3]:
df1.columns = ['year', 'num']
df1

   year  num
0  2021   40
1  2022   32
2  2023   20
3  2024   18

In [5]:
df2 = df1.values
df2

array([[2021,   40],
       [2022,   32],
       [2023,   20],
       [2024,   18]], dtype=int64)